:root {
  --table-bg-color: rgb(250, 253, 253);
  --table-header-bg-color: rgb(49, 128, 128);
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: 0.8em;
  table-layout: auto;
}
table thead tr {
  text-transform: uppercase;
  /* background-color: #7eaede; */
  /* color: var(--brand-color); */
}
tbody tr:hover {
  background-color: #f5f5ff;
}
/* tbody tr:nth-child(even) {
  background-color: transparent;
} */

td,
th {
  padding: 0 4px;
  border-bottom: 1px solid #ddd;
}
th {
  padding: 10px 4px;
}
