#newCustomerForm > .modal-main,
#CustomerDetailsForm > .modal-main {
  height: 95%;
}

.customer-record-form {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.tab-content {
  padding-top: 0.4rem;
  max-height: 100%;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  #newCustomerForm > .modal-main,
  #CustomerDetailsForm > .modal-main {
    height: calc(100% - 100px);
  }
}
