.map-report {
  height: calc(100vh - 100px);
  display: flex;
  flex-flow: column;
}
.map-report h6 {
  background: rgb(23, 102, 148);
  padding: 0.4rem;
  color: #e1e1e1;
}
.map-container {
  background: #eee;
  flex: 1;
  width: 100%;
  display: flex;
}
.map-content {
  flex: 1;
  position: relative;
}
.map-content > div {
  height: 100%;
}
.map-content .open-hide {
  position: absolute;
  right: 0;
  top: 20%;
}
.map-filter {
  width: 240px;
}

.map-filter.hide {
  display: none;
}
